@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    @media(min-width: 1200px){
        max-width: 1140px;
    }
}
body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
    text-align: left;
    background-color: #e6e7ee;
}
.box-shadow{
    box-shadow:  #b8b9be 2px 2px 5px 0px, -3px -3px 6px #fff;
    border-color: #d1d9e6;
}

.box-shadowv2{
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff

}
.box-shadowv3{
    box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important
}
section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.icon-box {
    display: flex; /* Sử dụng Flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    line-height: 1; /* Đảm bảo không có khoảng cách dọc không cần thiết */
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 165%;
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.badge-secondary {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    background-color: transparent;
    color: #2d4cc8;
}
.badge {
    font-size: .7rem;
    font-weight: 600;
    border: .0625rem solid #d1d9e6;
}
.btn-primary {
    color: #31344b;
    background-color: #e6e7ee;
}
.small {
    font-size: 80%;
    font-weight: 400;
}
.dropdown-item{
    height: 20px;
    width: 100px;
    border: #d1d9e6
}
.card-title {
    margin-bottom: 1.25rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}
.section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.icon.icon-shape {
    width: 5.5rem;
    height: 5.5rem;
}
.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.organic-radius {
    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
}
.justify-content-around {
     justify-content: space-around !important; 
}
.badge-success {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    background-color: transparent;
    color: #18634b;
}

.badge-pill {
    padding-right: .875em;
    padding-left: .875em;
}
.col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #44476a;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .55rem .95rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .55rem;
    transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out, box-shadow .15sease-in-out;
}
.btn {
    position: relative;
    transition: all .2sease;
    letter-spacing: .025em;
    font-size: 1rem;
    border-color: #d1d9e6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}
.justify-content-between {
    justify-content: space-between !important;
}
@media (min-width: 768px) {
    .mb-md-5, .my-md-5 {
        margin-bottom: 3rem !important;
    }
}
@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* .animate-spin	{
    animation: spin 1s linear infinite;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
} */